@import "src/pages/App/sass/variables";

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: fit-content;
  margin-bottom: 34px;
  margin-top: 32px;

  > div:first-child {
    margin-right: 17px;
  }

  @media #{$phones-xs} {
    flex-wrap: wrap;
  }
}
