@import "src/pages/App/sass/variables";

.container {
  position: relative;
  max-width: 839px;
  height: 100%;
  margin-right: auto;
  padding: 200px 179px;
  min-height: 100vh;
  background-color: $backgroundColor;

  h1 {
    margin-bottom: 24px;

    @media #{$phones} {
      margin-bottom: 40px;
    }
  }

  @media #{$tablets-big} {
    max-width: 100%;
  }

  @media #{$tablets} {
    padding: 200px 100px;
  }

  @media #{$phones} {
    padding: 150px 16px 150px 16px;
  }
}
