$screen-min: 320px;
$screen-min-s: 374px;
$screen-xxs: 576px;
$screen-xs: 768px;
$screen-sm: 1024px;
$screen-md: 1200px;
$screen-lg: 1440px;

$retina: (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi);
$phones-xs:only screen and (max-width: #{$screen-min-s});
$phones: only screen and (max-width: #{$screen-xxs});
$tablets: only screen and (max-width: #{$screen-xs});
$tablets-big: only screen and (max-width: #{$screen-sm});
$desktop: only screen and (max-width: #{$screen-md});
$full-hd: only screen and (max-width: #{$screen-lg});

// Colors
$EgyptianBlue: #3A75E8;
$EgyptianBlue40: #B0C8F6;
$defaultWhite: #FFFFFF;
$defaultBlack: #000000;
$borderColor: rgba(69, 111, 247, .5);
$backgroundColor: #EBF1FD;


//fonts
$main-font-family: Quicksand, sans-serif;
