@import "src/pages/App/sass/variables";

.container {
  position: relative;
  max-width: 839px;
  height: 100%;
  margin-right: auto;
  padding: 200px 179px;
  min-height: 100vh;
  background-color: $backgroundColor;

  >div:last-child {
    margin-top: 32px;
  }

  h1 {
    margin-bottom: 48px;

    @media #{$phones} {
      margin-bottom: 40px;
    }
  }

  @media #{$tablets-big} {
    max-width: 100%;
  }

  @media #{$tablets} {
    padding: 50px 100px;
  }

  @media #{$phones} {
    padding: 56px 16px 48px 16px;
  }
}

.containerError {
  padding: 113px 179px 200px 179px;

  @media #{$tablets} {
    padding: 50px 100px;
  }

  @media #{$phones} {
    padding: 56px 16px 48px 16px;
  }
}
